<?xml version="1.0"?>

<model>
    <name>GS model</name>
    <version>1.0</version>
    <sdf version='1.5'>gs_world.sdf</sdf>
    <author>
        <name>Tomasz</name>
        <email>toamsz.lisowski99@gmail.com</email>
    </author>

    <description>
        Initional world og gs workspace
    </description>
</model>